.nav_color{
    background-color: #480751;
}
#nav_ico{
	color: white;
	font-size: 35px;
}
#nav_font{
	color: white;
}
h1 #font-size{
    font-size: 5rem;
}
.fondo{
	background-image: url(assets/img/img_de_prueba.jpg);
	background-repeat: no-repeat;
	background-size: 
}
.fondo_fondo{
	background-image: url(https://www.desktopbackground.org/t/2013/10/27/660667_30-wallpapers-sad-boxman-full-hd_1366x768_h.jpg);
	background-repeat: cover;
	background-size: 35rem 20rem;

}
.img_color{
   background-color: #60832F;
}
.parrafo_color{
   background-color: #C9BB21;
}
.sin-pad{
	padding: 0px;
}
.sin-mar{
	margin: 0px;
}
.main_color{
	background-color: #BA84EB;
}
.main_font{
	color: white;
}
.main_ico{
	color: white;
	font-size: 3rem;
	line-height: 140px;
}
.footer_color{
	background-color: #480751;
}
.footer_ico{
	color: white;
	font-size: 2rem;
}
.footer_mr{
    margin-left: 35px;
}
@media only screen and (max-width: 600px) 
{
span .none{
    display: none; 
  }	
div .none{
    display: none; 
  }
@media only screen and (min-width: 600px) 
{
