.nav_color{
    background-color: #480751;
}
#nav_ico{
	color: white;
	font-size: 35px;
}
#nav_font{
	color: white;
}
h1 #font-size{
    font-size: 5rem;
}
.img_color{
   background-color: #BA84EB;
}
.parrafo_color{
   background-color: #BA84EB;
}
.sin-pad{
	padding: 0px;
}
.sin-mar{
	margin: 0px;
}
.main_color{
	background-color: #7D2AAC;
}
.main_font{
	color: white;
}
.main_ico{
	color: white;
	font-size: 3rem;
	line-height: 140px;
}
.footer_color{
	background-color: #480751;
}
.footer_ico{
	color: white;
	font-size: 2rem;
}
.footer_mr{
    margin-left: 35px;
}
@media only screen and (max-width: 600px) 
{
span .none{
    display: none; 
  }	
div .none{
    display: none; 
  }
@media only screen and (min-width: 600px) 
{
i .none_btn{
    display: none;
}
